<h3>
  Create Project 
</h3>
        
<p *ngIf="errorMessage">{{errorMessage}}</p>
<p *ngIf="successMessage">{{successMessage}}</p>

<!-- <p>{{model.mainImage | async}}</p> -->
<div class="full-center">
       

     <form 
     #createForm="ngForm" (ngSubmit)="onSubmit(createForm.value)">
      <div class="small-card-container">

          <p>{{model.mainImage}}</p>
          <upload (urlChange)="uploadDone($event)" [data]="inputToChild"></upload>


            <input  placeholder="Description" id="description" required
            [(ngModel)]="model.description" name="description"
            #description="ngModel">

              <input  placeholder="Name" id="name" required
              [(ngModel)]="model.name" name="name"
              #name="ngModel">


          
          <editor required
          [(ngModel)]="model.body" name="body"
          #body="ngModel" [init]="{plugins: 'link code', 
          extended_valid_elements:'script[language|type|src],style[type], link[rel|href]', 
          valid_children : '+body[style], style[type], link[rel|href]'}"></editor>
      <p>{{errorMessage}}</p>
     <button color="primary" type="submit">
        Submit
      </button>
          <!-- <p>
              Click here to sign-up if you don't have an account
          </p>  -->
        </div>
      </form>


    <preview [model]="model"></preview>
    
    </div>